
html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #222;
}

.keyboard {
  margin: 10px;
}

.key {
  box-sizing: border-box;
  display: inline-block;
  padding: 30px 5px 5px 30px;
  width: 45px;
  margin: 5px;
  background: #555;
  color: #222;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 7.5pt;
}

.active {
  background: #9f2;
}

.row-1 {
  margin-left: 27px;
}

.row-2 {
  margin-left: 47px;
}

.row-3 {
  margin-left: 73px;
}

.bank-2.active, .key-2.active {
  background: #c0c;
}

.bank-3.active, .key-3.active {
  background: #f70;
}

.bank-4.active, .key-4.active {
  background: #44f;
}

.bank-5.active, .key-5.active {
  background: #f33;
}

.bank-6.active, .key-6.active {
  background: #584;
}

.bank-7.active, .key-7.active {
  background: #489;
}

.bank-8.active, .key-8.active {
  background: #ff0;
}

.bank-9.active, .key-9.active {
  background: #0ff;
}

.bank-0.active, .key-0.active {
  background: #f04;
}
