
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  list-style: none;
  font-size: 100%;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  position: absolute;
  background: #252026;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.column-left {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  flex: 1;
  width: 80%;
  height: 100%;
}

.column-right {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  flex: 1;
  width: 20%;
  height: 100%;
}

.editor {
  display: flex;
  flex: 1.13;
}

.editor .jazz {
  box-sizing: border-box;
  position: relative;
  // padding: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background: #252026;
  color: #999;
}

.jazz:focus {
  border: none;
  outline: none;
}

.jazz:active {
  border: none;
  outline: none;
}

.keyboard-container {
  display: flex;
  flex: 1.16;
  width: 100%;
  height: 100%;
}

.keyboard {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  padding-right: 7px;
  padding-bottom: 8px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
}

.key {
  -webkit-tap-highlight-color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation;   /* IE11+ */
  user-select: none;
  outline: none;
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 1%;
  flex: 1;
  color: #222;
  background: #293339;
  font-family: sans-serif;
  font-size: 7.5pt;
}

.key:after {
  position: absolute;
  content: ' ';
  top: 0%;
  left: -2%;
  width: 104%;
  height: 104%;
  box-sizing: border-box;
  border-top: 8px solid #252026;
  border-left: 8px solid #252026;
  background: transparent;
}

.key:focus, .key:active {
  background: #333;
}

.key-label {
  box-sizing: border-box;
  position: absolute;
  -webkit-tap-highlight-color: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation;   /* IE11+ */
  user-select: none;
  outline: none;
  font-size: 8pt;
  padding: 7% 10%;
  display: inline-block;
  right: 0;
  bottom: 0;
}

.focus:before {
  position: fixed;
  justify-content: center;
  content: ' ';
  z-index: 1000;
  width: 2px;
  height: 50%;
  right: 0;
  top: 0;
  background: #44f;
}

.keyboard.focus:before {
  top: 50%;
  background: #0c0;
}

.row {
}

.row-0 {
  margin-right: 6%;
}

.row-1 {
  margin-left: 5%;
}

.row-2 {
  margin-left: 8%;
  margin-right: 7%;
}

.row-3 {
  margin-left: 11%;
  margin-right: 22%;
}

.bank-0.active { /* , .key-0.active { */
  background: #f00;
  -webkit-tap-highlight-color: #f00;
}

.bank-1.active { /*, .key-2.active {*/
  background: #837788;
  -webkit-tap-highlight-color: #837788;
  // background: #66cf14;
  // -webkit-tap-highlight-color: #66cf14;
}

.bank-2.active { /*, .key-2.active {*/
  background: #3909ff;
  -webkit-tap-highlight-color: #3909ff;
}

.bank-3.active { /*, .key-3.active { */
  background: #f70;
  -webkit-tap-highlight-color: #f70;
}

.bank-4.active { /*, .key-4.active { */
  background: #ff0;
  -webkit-tap-highlight-color: #ff0;
}

.bank-5.active { /*, .key-5.active { */
  background: #489;
  -webkit-tap-highlight-color: #489;
}

.bank-6.active { /*, .key-6.active { */
  background: #c0c;
  background: #584;
}

.bank-7.active { /*, .key-7.active { */
}

.bank-8.active { /*, .key-8.active { */
  background: #0ff;
}

.bank-9.active { /*, .key-9.active { */
  background: #f33;
}

.xy-container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.xy-controller {
  position: relative;
  display: flex;
  flex: 1;
  background: #293339;
  border: 2px dotted #252026;
  border-left-width: 4px;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.xy-controller:after {
  position: absolute;
  content: ' ';
  width: 1px;
  height: 100%;
  left: 50%;
  border-left: 1px dotted rgba(20,0,0,.35);
}

.xy-controller:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  top: 50%;
  border-top: 1px dotted rgba(20,0,0,.35);
}

.xy-controller span {
  z-index: 1;
  position: absolute;
  content: ' ';
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  left: 50%;
  top: 50%;
  background: #293339;
  border: 1px dotted rgba(20,0,0,.25);
  border-radius: 100%;
}

.xy-controller span:after {
  z-index: 1;
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  left: 50%;
  top: 50%;
  background: rgba(255,200,200,.09);  
  // background: #252026;
  border-radius: 100%;
}

.xy-spot {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-bottom: -7px;
  border-radius: 100%;
  background: #8c0;
}

.xy-spot:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 42px;
  height: 42px;
  margin-left: -15px;
  margin-bottom: -15px;
  border-radius: 100%;
  border: 1px solid rgba(115,155,155,.5);  
}

.xy-1 .xy-spot {
  left: 20%;
  top: 20%;
}
